spring:
  application:
    name: gateway-service

  config:
    import: "optional:configserver:http://localhost:8888/"
  cloud:
    gateway:
      server:
        webflux:
          globalcors:
            cors-configurations:
              '[/**]':
                          allowedOrigins: "http://localhost:3000"
                          allowedMethods: "*"
                          allowedHeaders: "*"
                          allowCredentials: true

          discovery:
            locator:
              enabled: true
          routes:
            #auth-service
                    - id: auth-service
                      uri: lb://auth-service
                      predicates:
                        - Path=/app/auth/**
                      filters:
                        - StripPrefix=1
                    #user-service
                    - id: user-admin
                      uri: lb://user-service
                      predicates:
                        - Path=/app/users/**, /app/user/**
                        - Method=POST,DELETE
                      filters:
                        - StripPrefix=1
                        - Authentication=ADMIN
                    - id: user-normal
                      uri: lb://user-service
                      predicates:
                        - Path=/app/users/**, /app/user/**
                      filters:
                        - StripPrefix=1
                        - Authentication

                    #content-service
                    - id: content-admin
                      uri: lb://content-service
                      predicates:
                        - Path=/app/problems/**
                        - Method=POST,PUT,DELETE
                      filters:
                        - StripPrefix=1
                        - Authentication=ADMIN
                    - id: content-internal-block
                      uri: no://op
                      predicates:
                        - Path=/app/problems/*/full
                      filters:
                        - SetStatus=403
                      order: -1
                    - id: content-service
                      uri: lb://content-service
                      predicates:
                        - Path=/app/problems/**, /app/contests/**
                      filters:
                        - StripPrefix=1
                        - Authentication
                    #course-service
                    - id: course-admin
                      uri: lb://course-service
                      predicates:
                        - Path=/app/courses/**
                        - Method=POST,PUT,DELETE
                      filters:
                        - StripPrefix=1
                        - Authentication=ADMIN

                    - id: course-service
                      uri: lb://course-service
                      predicates:
                        - Path=/app/courses/**, /app/lessons/**, /app/progress/**
                      filters:
                        - StripPrefix=1

                    #submission-service
                    - id: submission-service
                      uri: lb://submission-service
                      predicates:
                        - Path=/app/submissions/**, /app/playground/**
                      filters:
                        - StripPrefix=1
                        - Authentication
          default-filters:
            - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials Vary, RETAIN_FIRST
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      access: unrestricted