spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: method_route
              uri: https://example.org
              predicates:
                - Method= GET, POST
            - id: auth_route
              uri: http://localhost:8801
              predicates:
                - Method= GET, POST
  config:
    import: "optional:configserver:http://localhost:8888/"