spring:
  application:
    name: gateway-service

  config:
    import: "optional:configserver:http://localhost:8888/"
  cloud:
    gateway:
      server:
        webflux:
          globalcors:
            cors-configurations:
              '[/**]':
                          allowedOrigins: "http://localhost:3000"
                          allowedMethods: "*"
                          allowedHeaders: "*"
                          allowCredentials: true
          discovery:
            locator:
              enabled: true
          routes:
            #auth-service
                    - id: auth-service
                      uri: lb://auth-service
                      predicates:
                        - Path=/app/auth/**
                      filters:
                        - StripPrefix=1
                    #user-service
                    - id: user-services
                      uri: lb://user-services
                      predicates:
                        - Path=/app/users/**, /app/user/**
                      filters:
                        - StripPrefix=1
                    #content-service
                    - id: content-service
                      uri: lb://content-service
                      predicates:
                        - Path=/app/problems/**, /app/contests/**
                      filters:
                        - StripPrefix=1
                    #course-service
                    - id: course-service
                      uri: lb://course-service
                      predicates:
                        - Path=/app/courses/**, /app/lessons/**, /app/progress/**
                      filters:
                        - StripPrefix=1
                    #submission-service
                    - id: submission-service
                      uri: lb://submission-service
                      predicates:
                        - Path=/app/submissions/**, /app/playground/**
                      filters:
                        - StripPrefix=1
management:
  endpoints:
    web:
      exposure:
        include: "*" # Mở tất cả (bao gồm gateway, routes, filters...)
  endpoint:
    gateway:
      access: unrestricted